div.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;

}

div.unit {
    background: #ffaec8;
    margin: 8px;
    padding: 10px
}

div.subtitle{
    text-align: center;
}

table {
    border-spacing: 1.3em 0;
}

h2 {
    color: #cc0066;
    padding: 10px;
}

.disciplineHeader{
    line-height: 2.5;
}

.resultLine {
    line-height: 1.8;
}